.banner{
     background-color:aqua;
     width:100%;
     height:100px;
     margin-bottom:50px;
     border-color:orange;
     }
.bannertext{
    position:absolute;
    left:50%;
    padding-top:50px;
    color:blue;
   }
body{
background-color:cadetblue;
}